<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<root>
   <ThrottleAppSettings 
						    inputFeedFile = "input.txt.full"  
							outputPublishFile = "output.txt" 
							badMessagesFile = "badmessages.txt"
						    numMessages = "100"
						    delayInMilliSeconds = "1000"
						    queueFactor = "25"
						    evictionDelayInSecs = "60" 
							threadPoolSize = "10"
							numPublishers = "4"	
	> 
   </ThrottleAppSettings>
</root>
